rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAccountAccessible(accountId) {
      return request.auth != null && request.auth.uid == accountId
    }

    match /users/{userId} {
      allow create, get, update, delete: if
        request.auth != null && request.auth.uid == userId
    }
    match /boards/{accountId}/{rest=**} {
      allow create, read, update, delete: if isAccountAccessible(accountId)
    }
    match /displays/{accountId} {
      allow create, get, update, delete: if isAccountAccessible(accountId)
    }
  }
}