rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /outbox/{key}/config {
      allow read: if true;
    }
    match /outbox/{key}/content {
      allow read: if false;
    }
  }
}
