body {
    max-height: 100vh;
    height: 100%;
    overflow: hidden;
}
article.editor {
    width: 1280px;
    height: 768px;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 0 50px -30px black;

    position: absolute;
    margin: 0;

    overflow: hidden;
    user-select: none;
    background-size: 100px 100px;
    background-image:
        linear-gradient(to right, #DDD 1px, transparent 1px),
        linear-gradient(to bottom, #DDD 1px, transparent 1px);
}
aside.editor {
    position: fixed;
    top: calc(2*var(--size-large));
    left: var(--size-small);
    padding: var(--size-small);
    box-shadow: 0 0 2px 2px silver;
    background-color: #FFF;
    z-index: 100;
}
div.note {
    margin: var(--size-medium);
    width: 200px;
    height: 100px;
    padding: var(--size-medium);
    background-color: white;
    display: inline-block;
    box-shadow: 0 0 2px 2px silver;
}