ul.displays {
    padding: 0;
}

ul.displays li {
    list-style: none;
    margin: var(--size-small);
    padding: 0 var(--size-medium);
    display: flex;
    gap: var(--size-small);
    border: solid 1px black;
}

ul.displays details {
    width: 100%;
}

ul.displays summary {
    padding: var(--size-medium);
}

ul.displays details div {
    display: grid;
    grid-template-columns: min-content auto;
    gap: var(--size-small);
    margin-left: var(--size-large);
}

ul.displays details aside {
    margin: var(--size-large);
}

ul.displays aside.error {
    color: #900;
    background-color: #FEE;
    padding: var(--size-medium);
}

ul.displays details dt {
    white-space: nowrap;
}

ul.displays form {
    margin: var(--size-large);
}

ul.displays form select {
    padding: 0.5em;
    min-width: 200px;
}

ul.displays form button {
    padding: 0.5em;
    min-width: 100px;
}



ul.displays li::before {
    content: " ";
    display: block;
    margin-top: calc(var(--size-medium) + 0.1rem);
    width: var(--size-medium);
    height: var(--size-medium);
    border-radius: var(--size-medium);
}


ul.displays li.healthy::before {
    background: radial-gradient(greenyellow 20%, green);
    box-shadow: 0 0 10px 0 green;
}

ul.displays li.weak::before {
    background: radial-gradient(orange 20%, brown);
    box-shadow: 0 0 10px 0 brown;
}

ul.displays li.error::before {
    background: radial-gradient(#F07 30%, #900);
    box-shadow: 0 0 10px 0px red;
}

ul.displays li.dead::before {
    box-shadow: inset 0 0 4px 0 black;
}