.displays {
    list-style: none;
    margin: 0;
    padding: 0;
}

.new-display,
.displays {
    grid-column-start: 1;
    grid-column-end: 2;
}

.selected-display {
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 999;
    grid-column-start: 2;
    grid-column-end: 3;
}

iframe.screenshot {

    border: solid 5px white;
    box-shadow: 0 0 2px 0 black;
    margin-top: 10px;

}