@import "./display-render.css";

body.edit-mode {
    max-height: 100vh;
    height: 100%;
    overflow: hidden;
    background: radial-gradient(silver, white);
}

body.edit-mode nav:not(.editor) {
    display: none;
}

nav.editor {
    position: fixed;
    top: var(--size-small);
    right: var(--size-small);
    padding: var(--size-small);
    box-shadow: 0 0 1px 1px silver;
    background-color: #EEED;
    border-radius: var(--size-small);
    z-index: 100;
}

article.editor {
    width: 1280px;
    height: 768px;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 0 50px -30px black;

    position: absolute;
    margin: 0;

    overflow: hidden;
    user-select: none;

}

article.editor .note.selected {
    outline: solid 10px #07F7;
}